{% extends 'base.html' %}

{% block content %}
<h2>Université</h2>
<ul>
    {% for cours in cours %}
    <li>
        <h3>{{ cours['titre'] }}</h3>
        <p>{{ cours['description'] }}</p>
        <img src="{{ url_for('static', filename='images/' ~ cours['photo']) }}" alt="Image du cours">
        <a href="{{ url_for('download_file', filename=cours['pdf']) }}">Télécharger le PDF</a>
    </li>
    {% endfor %}
</ul>
<ul>
    {% for cours in cours %}
    <li>
        <h3>{{ cours['titre'] }}</h3>
        <p>{{ cours['description'] }}</p>
        <img src="{{ url_for('static', filename='images/' ~ cours['photo']) }}" alt="Image du cours">
        <a href="{{ url_for('download_file', filename=cours['pdf']) }}">Télécharger le PDF</a>
        
        <!-- Bouton pour supprimer l'article -->
        <form method="POST" action="{{ url_for('supprimer_cours', cours_id=cours['id']) }}">
            <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');">Supprimer</button>
        </form>
    </li>
    {% endfor %}
</ul>

{% endblock %}

